
/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }

  li {
      list-style-type: none;
  }
  
  ul {
      padding: 0;
      margin: 0;
  }

  nav {
    padding: 0;
    margin: 0;
  }

  a {
    color: white;
    text-decoration: none;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 147%;
    text-align: center;

  }
  
  h1 {
    color: #ffffff;
    font-size: 26px;
    line-height: 60px;
    margin: 0 auto;
    font-weight: 900;
    }
  
  h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 40px;
    margin: 0 auto;
  }
  
  h3 {
    color: #031D5B;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    margin: 0px 20px 15px 20px;
  }

  .contenido h3 {
      border-bottom: 5px solid #F8765E;
      padding-bottom: 20px;
      margin-right: 255px;
  }
  
  .contenido p {
    color: #5B6C94;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    margin: 20px 20px 0px 20px;
  }

  .intro-text {
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
    font-weight: 900;
}
  
  
  
  /* ---- layout ---- */
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    background-color: #F8765E;
    padding-top: 10px;
    padding-bottom: 140px;
}
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
 
  
  /* ---- components ---- */
  
  .button {
    width: 100%;
    background-color: #9BDBE7;
    color: #fff;
    border: 1px solid #fff;
  }
  
  .button-alt {
    color: blue;
    background-color: #fff;
  }

  form button {
    width: 170px;
    height: 60px;
    background-color: #9BDBE7;
    border: 0px #9BDBE7;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 8px 0 #00000024;
  }
  
  form input {
      width: 335px;
      height: 60px;
      border: 0px #ffffff;
      border-radius: 20px;
      margin: 0 0 20px 0px;
      color: #CDCDCD;
      font-size: 17px;
      font-weight: bold;
      padding: 25px;
      box-shadow: inset 0 1px 5px 0 #00000026;
  }

  /* ---- section ---- */
  
  header {
    background-color: #F8765E;
    padding-top: 25px;
    padding-bottom: 60px;
}

header nav ul {
    font-weight: bold;
    margin: 0;
}

.intro {
    margin: 30px;
  }

  .container img {
    height: 231px;
    margin-bottom: 30px;
    margin-left: 25px;
  }

  .contenido {
    width: 335px;
    height: 1570px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 34px 0 #d2d2d280;
    position: relative;
    top: -64px;
  }

  .contenido img {
      margin-top: 60px;
      margin-bottom: 55px;
  }