
/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }

  li {
      list-style-type: none;
  }
  
  ul {
      padding: 0;
      margin: 0;
  }

  nav {
    padding: 0;
    margin: 0;
  }

  a {
    color: white;
    text-decoration: none;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 147%;
    text-align: center;

  }
  
  h1 {
    color: #ffffff;
    font-size: 26px;
    line-height: 60px;
    margin: 0 auto;
    font-weight: 900;
    text-transform: uppercase;
    }
  
  h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 40px;
    margin: 0 auto;
  }
  
  h3 {
    color: #031D5B;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    margin: 0px 20px 15px 20px;
  }

  h4 {
    color: #031D5B;
    font-size: 26px;
    line-height: 45px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .contenido h3 {
      border-bottom: 5px solid #F8765E;
      padding-bottom: 20px;
      margin-right: 255px;
  }
  
  p {
    color: #5B6C94;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .contenido p {
    text-align: left;
    margin: 20px 20px 0px 20px;
  }

  .intro-text {
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
    font-weight: 900;
}
  
  h2.titulos {
      color: #F8765E;
      margin-top: 60px;
  }

  h4.titulos {
      color: #CDCDCD;
      font-size: 26px;
      font-weight: 500;
      line-height: 45px;
      margin-bottom: 40px;
  }

  .seccion3 p {
      margin: 30px;
      font-weight: 500;
  }

  .cartas h2 {
      color: #F8765E;
      font-size: 16px;
      line-height: 40px;
      text-align: left;
      margin-right: 204px;
      margin-left: 40px;
      position: absolute;
      top: 22px;
      z-index: 10;
  }

  .cartas p {
      color: #FFFFFF;
      text-align: left;
      font-size: 18px;
      font-weight: 500;
      line-height: 36px;
      margin: 103px 10px 78px 50px;
  }

  #place {
      opacity: 80%;
      margin-left: -10px;
      display: inline;
  }

  #autor {
      display: inline;
  }
  
  /* ---- layout ---- */
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    background-color: #F8765E;
    padding-bottom: 140px;
}
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
 
  
  /* ---- components ---- */
  
  .button {
    width: 100%;
    background-color: #9BDBE7;
    color: #fff;
    border: 1px solid #fff;
  }
  
  .button-alt {
    color: blue;
    background-color: #fff;
  }

  form button {
    width: 170px;
    height: 60px;
    background-color: #9BDBE7;
    border: 0px #9BDBE7;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 8px 0 #00000024;
  }
  
  form input {
      width: 335px;
      height: 60px;
      border: 0px #ffffff;
      border-radius: 20px;
      margin: 0 0 20px 0px;
      color: #cdcdcd;
      font-size: 17px;
      font-weight: bold;
      padding: 25px;
      box-shadow: inset 0 1px 5px 0 #00000026;
  }

  .seccion3 button {
    width: 180px;
    height: 60px;
    background-color: #9BDBE7;
    border: 0px #9BDBE7;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 8px 0 #00000024;
  }

  /* ---- section ---- */
  
  header {
    background-color: #F8765E;
    padding-top: 25px;
    padding-bottom: 60px;
  }

  header nav ul {
    font-weight: bold;
    margin: 0;
  }

  .intro {
    margin: 30px;
  }

  .container img {
    height: 231px;
    margin-bottom: 30px;
    margin-left: 25px;
  }

  .contenido {
    width: 335px;
    height: 1570px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 34px 0 #d2d2d280;
    position: relative;
    top: -64px;
  }

  .contenido img {
      margin-top: 60px;
      margin-bottom: 55px;
  }

  .seccion3 {
      position: relative;
      margin-bottom: 100px;
  }

  .seccion3 img {
      height: 360px;
      top: -45px;
      left: 90px;
      position: absolute;
      z-index: 10;
  }

.seccion3 div {
    height: 296.07px;
    width: 296px;
    background-color: #F8765E;
    margin: 40px auto;
    border-radius: 200px;
    position: relative;
    z-index: 0;
}

.cartas {
    text-align: left;
    position: relative;
    margin-bottom: -130px;
}

.comillas1 {
    height: 165px;
    margin-left: 30px;
    position: relative;
    z-index: 5;
}

.cartas div {
	height: 660px;
	width: 300px;
	border-radius: 20px 0 0 20px;
    background-color: #F8765E;
    position: absolute;
    left: 75px;
    top: 111px;
    z-index: 0;
}

.comentario1 {
	height: 400px;
	width: 300px;
	border-radius: 20px;
	background-color: #9BDBE7;
    box-shadow: 12px 12px 40px 0 rgba(0,0,0,0.2);
    position: relative;
    top: 72px;
    left: 20px;
    z-index: 10;
}

.comentario1 img {
    height: 40px;
    position: relative;
    top: 80px;
    left: 50px;
}

.comentario2 {
    height: 400px;
    width: 300px;
    border-radius: 20px;
    background-color: #fffffff2;
    box-shadow: 12px 12px 40px 0 rgba(0,0,0,0.2);
    position: relative;
    top: -328px;
    left: 340px;
    z-index: 10;
}

.subscripcion {
    padding-bottom: 100px;
}

.footer {
    background-color: #F8765E;
    padding-top: 30px;
    padding-bottom: 40px;
}

.footer p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
}

.footer ul {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    margin: 0 20px;
    display: flex;
}

.footer li {
    flex: auto;
}

nav ul {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    margin: 0 50px;
    display: flex;
}

nav li {
    flex: auto;
}