
/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }

  li {
      list-style-type: none;
  }
  
  ul {
      padding: 0;
      margin: 0;
  }

  nav {
    padding: 0;
    margin: 0;
  }

  a {
    color: var(--second-color);
    text-decoration: none;
  }
  
  
  /* ---- variables ---- */

  html {
      --main-color: #F8765E;
      --button-color: #9BDBE7;
      --title-color: #031D5B;
      --text-color: #5B6C94;
      --second-color: white;
  }
  

  /* ---- typography ---- */
  
  body {
    color: var(--second-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 147%;
    text-align: center;

  }
  
  h1 {
    font-size: 26px;
    line-height: 60px;
    margin: 0 auto;
    font-weight: 900;
    text-transform: uppercase;
    }
  
  h2 {
    font-size: 30px;
    line-height: 40px;
    margin: 0 auto;

  }

  h2.titulos {
    color: var(--main-color);
    margin-top: 16%;
}

.cartas h2 {
    color: var(--main-color);
    font-size: 16px;
    line-height: 40px;
    text-align: left;
    margin-right: 53%;
    margin-left: 10%;
    position: absolute;
    top: 2%;
    z-index: 10;
}
  
  h3 {
    color: var(--title-color);
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    margin: 0 5% 4% 5%;
  }

  .contenido h3 {
    border-bottom: 5px solid var(--main-color);
    padding-bottom: 5%;
    margin-right: 77%;
}

  h4 {
    color: var(--title-color);
    font-size: 26px;
    line-height: 45px;
    font-weight: 500;
    margin-top: 2.6%;
    margin-bottom: 7.8%;
  }

  h4.titulos {
    color: #CDCDCD;
    font-size: 26px;
    margin-bottom: 10%;
}
  
  p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }

  .contenido p {
    text-align: left;
    margin: 5% 5% 0 5%;
  }

  .cartas p {
    color: var(--second-color);
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    margin: 27% 2.6% 20% 13%;
}

.premium p {
    margin: 8%;
    font-weight: 500;
}

.footer p {
    color: var(--second-color);
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
}

  .intro-text {
    color: var(--second-color);
    font-weight: 900;
}
  
  .autor.place {
      opacity: 80%;
      margin-left: -2.6%;
      display: inline;
  }

  .autor {
      display: inline;
  }
  

  /* ---- layout ---- */
  
  .container {
    background-color: var(--main-color);
    padding-bottom: 36%;
}
  
  .section {
    margin-bottom: 5%;
    padding-top: 5%;
  }
  

  /* ---- components ---- */

   button {
    width: 170px;
    height: 60px;
    background-color: var(--button-color);
    border: 0px var(--button-color);
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    color: var(--second-color);
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 8px 0 #00000024;
  }
  
  form input {
      width: 335px;
      height: 60px;
      border: 0px var(--second-color);
      border-radius: 20px;
      margin: 0 0 20px 0px;
      color: #cdcdcd;
      font-size: 17px;
      font-weight: bold;
      padding: 25px;
      box-shadow: inset 0 1px 5px 0 #00000026;
  }

  .premium button {
    width: 180px;
  }


  /* ---- section ---- */
  
  header {
    background-color: var(--main-color);
    padding-top: 26px;
    padding-bottom: 10%;
  }

  header nav ul {
    font-weight: bold;
    margin: 0%;
  }

  .intro {
    padding: 8%;

  }

  .container img {
    margin-bottom: 8%;
    margin-left: 6.5%;
    max-width: 90%;
  }

  @media (min-width: 768px) {
<<<<<<< HEAD
      .container {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        padding-bottom: 10%;
      }
      div img {
          width: 100%;
          margin-right: 7%;
      }
      div.introduccion {
          width: 40%;
          text-align: left;
          margin-left: 7%;
          justify-content: center;
      }
      div form {
          display: flex;
          justify-content: left;
          flex-direction: row;
      }
      p.intro {
        padding: 0%;
        text-align: left;
      }
      h2.intro {
        padding: 0%;
=======
      .container img {

>>>>>>> parent of 90dc794... final commit
      }
  }

  .contenido {
    width: 335px;
    margin: 0 auto;
    background-color: var(--second-color);
    border-radius: 20px;
    box-shadow: 0 10px 34px 0 #d2d2d280;
    position: relative;
    top: -100px;
  }

  @media (min-width: 768px) {
    .contenido {
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: space-around;
    }
}

  .contenido img {
      margin-top: 16%;
  }
  
  .contenido p {
      padding-bottom: 15%;
  }

  .premium {
      position: relative;
      margin-bottom: 26%;
      top: 100%;
    }

  .premium img {
      max-width: 100%;
      margin: -5% auto;
      padding: 0 25%;
      position: relative;
      z-index: 10;
  }

.premium div {
    height: 296px;
    width: 296px;
    background-color: var(--main-color);
    margin-top: 20%;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
@media (min-width: 600px) {
    .premium div {
        width: 500px;
        height: 500px;
        margin-top: 9%;
    }
}

.cartas {
    text-align: left;
    position: relative;
    margin-bottom: -34%;
}

.cartas ul {
    overflow: scroll;
}

.comillas1 {
    height: 50%;
    margin-left: 8%;
    position: relative;
    z-index: 5;
}

.cartas div {
	height: 660px;
	width: 300px;
	border-radius: 20px 0 0 20px;
    background-color: var(--main-color);
    position: absolute;
    left: 20%;
    top: 111px;
    z-index: 0;
}

.comentario-1 {
	height: 400px;
	width: 300px;
	border-radius: 20px;
	background-color: var(--button-color);
    box-shadow: 12px 12px 40px 0 rgba(0,0,0,0.2);
    position: relative;
    top: 72px;
    left: 20px;
    z-index: 10;
}

.comentario-1 img {
    height: 11%;
    position: relative;
    top: 80px;
    left: 13%;
}

.comentario-2 {
    height: 400px;
    width: 300px;
    border-radius: 20px;
    background-color: var(--second-color);
    box-shadow: 12px 12px 40px 0 rgba(0,0,0,0.2);
    position: relative;
    top: -328px;
    left: 340px;
    z-index: 10;
}

.subscripcion {
    padding-bottom: 100px;
}

.footer {
    background-color: var(--main-color);
    padding-top: 30px;
    padding-bottom: 40px;
}

.footer ul {
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    margin: 0 5%;
    display: flex;
    justify-content: space-around;
}

.footer li {
    margin: auto;
}

nav ul {
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    margin: 0 13%;
    margin-left: 50%;
    display: flex;
    justify-content: space-around;
}


header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
<<<<<<< HEAD
        padding-bottom: 5%;
        justify-content: space-between;
=======
>>>>>>> parent of 90dc794... final commit
    }
    h1 {
        border: 0;
        align-content: flex-start;
    }
<<<<<<< HEAD
    nav {
        margin: 0 10% 0 0%;
    }
    nav li {
        margin: 0 10%;
    }
=======
>>>>>>> parent of 90dc794... final commit
}